UT3/DTD/Ejercicio discografica/D/Users/asir122/Documents/laragon/www/modulos/lmsgi24/UT3/DTD/ejercicio discografica/discografica.dtd

<!ELEMENT discografica (grupos,empleados)>
<!ELEMENT grupos (grupo+)>
<!ELEMENT grupo (componentes|discos)*>
<!ATTLIST grupo nombre CDATA #REQUIRED>
<!ATTLIST grupo estilo CDATA #REQUIRED>
<!ELEMENT componentes (componente+)>
<!ELEMENT componente (#PCDATA)>
<!ATTLIST componente instrumento CDATA #REQUIRED>
<!ELEMENT discos (disco+)>
<!ELEMENT disco (#PCDATA)>
<!ATTLIST disco orden NMTOKEN #REQUIRED>
<!ELEMENT empleados (#PCDATA)>