UT3/DTD/UT3 A05/A05 DTD/Anuario.dtd

<!ELEMENT anuario (artículo*)>
    <!ATTLIST anuario año CDATA #REQUIRED>

<!ELEMENT articulo (titulo, fecha, numLectores, autores)>
    <!ATTLIST articulo identificador CDATA #REQUIRED>

<!ELEMENT titulo (#PCDATA)>
<!ELEMENT fecha (#PCDATA)>
<!ELEMENT numLectores (#PCDATA)>

<!ELEMENT autores (autor*)>
<!ELEMENT autor (#PCDATA)>
    <!ATTLIST autor nombre CDATA #REQUIRED mail CDATA #REQUIRED>